<div class="content">
  <ul>
    <li routerLink="user/home" routerLinkActive="active">
     <i class="fa-solid fa-house"></i>
    </li>
    <li routerLink="user/history" routerLinkActive="active">
      <a ><i class="fa-solid fa-user"></i></a>
    </li>
    <li>
      <i class="fa-solid fa-graduation-cap"></i>
    </li>
    <li>
      <i class="fa-solid fa-diagram-project"></i>
    </li>
    <li>
      <i class="fa-solid fa-laptop-file"></i>
    </li>
    <li>
      <i class="fa-solid fa-envelope"></i>
    </li>
  </ul>
</div>
