<div class="content">
  <ul>
    <li routerLink="arlinton/home" routerLinkActive="active">
     <i title="Inicio" class="fa-solid fa-house"></i>
    </li>
    <li routerLink="arlinton/history" routerLinkActive="active">
      <a ><i title="Acerca de mí" class="fa-solid fa-user"></i></a>
    </li>
    <li routerLink="arlinton/formation" routerLinkActive="active">
      <a ><i title="Educación" class="fa-solid fa-graduation-cap"></i></a>
    </li>
    <li routerLink="arlinton/portfolio" routerLinkActive="active">
     <a ><i title="Portafolio" class="fa-solid fa-diagram-project"></i></a>
    </li>
    <li routerLink="arlinton/services" routerLinkActive="active">
      <a > <i title="Servicios" class="fa-solid fa-laptop-file"></i></a>
    </li>
    <li routerLink="arlinton/contact" routerLinkActive="active">
      <a > <i title="Contacto" class="fa-solid fa-envelope"></i></a>
    </li>
  </ul>
</div>
