

button{
  border: none;
  border-radius: 1.8rem;

  background-color:#28E98C ;
  box-sizing: border-box;

  inline-size:18rem ;


  display:  flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  cursor: pointer;

}

button:hover{
  border: 2px solid #28E98C ;
  background-color: #1F1F1F;
  color: white;

  transition: .5s;
}
