<div class="content">


  <div class="content-certifications">
    <shared-tittle-menu [contentParagraph]="titleContent[0]" [iconContent]="icon"> </shared-tittle-menu>
    <div class="tittle">
      <h1>Enviame un <span>Email</span>
      </h1>
    </div>
    <div class="certifications">

      <div class="certification">

      </div>

    </div>

  </div>
<!--
  <div class="content-education-experience">
    <div class="tittle">
      <h1>Formación <span>Profesional</span>
      </h1>
    </div>
    <div class="content-step">

    </div>
  </div>


 -->

</div>
