
.content{

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap:4rem;

  box-sizing: border-box;

  height: 20rem;

  position: relative;
  transition: left 0.5s ease-in-out;
}

.spot-line{
  color:#565656 ;
  cursor:grab;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
}
.spot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.line{

  border-left:1px solid #565656;
  height: 100%;

}
.spot-line:hover{
  color: #28E98C;
  transition: .5s;
}


p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color:#999999;
}
p:hover{
  color: #28E98C;
}

.job-description{

  display: flex;
  flex-direction: column;
  gap: .3rem;

}

h1{
  margin: 0;
  font-weight: 100;
  font-size:24px;

}

.job-description span{
  font-size: 14px;
  color:#999999;
  margin: 0;

}

.content-date-job{
  display: flex;
  flex-direction: column;
  gap: 12%;

  flex-grow: 1;
  height: auto;
}


/* Estilos para pantallas medianas aquí */
@media only screen and (min-width: 768px) and (max-width: 1100px) {


}

  /* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px ) {
  h1{
    margin: 0;
    font-size:16px;

  }

}
