<div class="content">

  <div class="content-services">
    <div class="tittle">
      <h1>Mis <span>Servicios</span>
      </h1>
    </div>

    <div class="services">
      <div class="service">
        <a>
          <div class="tittle-description">
            <p>Desarrollo FullStack</p>
            <div class="description">
              <p>Creación de aplicaciones web completas y funcionales. Desde el diseño de la interfaz de usuario
                hasta la implementación de la lógica de negocio y la gestión de bases de datos.</p>
              <br>
              <div class="totalProjects">
                <span>10 Proyectos</span> <br>
              </div>
            </div>
          </div>
        </a>
        <div class="icon">
          <a><i class="fa-solid fa-diagram-project"></i></a>
        </div>
      </div>
      <div class="service">
        <a>
          <div class="tittle-description">
            <p>Diseño Web</p>
            <div class="description">
              <p>
                Creación de interfaces de usuario atractivas y funcionales para tus sitios web.
                Desde el diseño inicial hasta la implementación final.
              </p>
              <br>
              <div class="totalProjects">
                <span>20 Proyectos</span> <br>
              </div>
            </div>
          </div>
        </a>
        <div class="icon">
          <a><i class="fa-solid fa-diagram-project"></i></a>
        </div>
      </div>
      <div class="service">
        <a>
          <div class="tittle-description">
            <p>Gráficos Vectoriales </p>
            <div class="description">
              <p> Diseño de gráficos vectoriales para crear elementos visuales de alta calidad y
                totalmente escalables para tu marca.
              </p>
              <br>
              <div class="totalProjects">
                <span>40 Proyectos</span> <br>
              </div>
            </div>
          </div>
        </a>
        <div class="icon">
          <a><i class="fa-solid fa-diagram-project"></i></a>
        </div>
      </div>
    </div>

  </div>

  <div class="content-pricing">
    <div class="tittle">
      <h1>Mis <span>Precios</span>
      </h1>
    </div>

    <div class="pricings">

      <div class="pricing">
        <div class="pricing-dates">
          <div class="title-pricing">
            <p>BÁSICO</p>
            <span>¿Tiene el diseño listo para construir?
              <br>o presupuesto pequeño</span>
          </div>
          <div class="valor-pricing">
            <h1>$5<span>/hora</span></h1>
            <hr>
          </div>
          <div class="description-Items">
            <ul>
              <li>Recoleción de requerimientos.</li>
              <li>Investigación y analisis</li>
              <li>Implementación con tecnologias como NodeJs, typeScript, Angular, etc.</li>
              <li>Trabajo Remoto.</li>
              <li>Trabajo dias hábiles.</li>
            </ul>
          </div>
        </div>
        <div class="button-pricing">
          <button>QUIERO ESTE PAQUETE</button>
        </div>
      </div>

      <div class="pricing">
        <div class="pricing-dates">
          <div class="title-pricing">
            <p>PREMIUM</p>
            <span>¿No tienes ningún diseño?
              <br>déjalo para mí</span>
          </div>
          <div class="valor-pricing">
            <h1>$8<span>/hora</span></h1>
            <hr>
          </div>

          <div class="description-Items">
            <ul>
              <li>Recoleción de requerimientos.</li>
              <li>Investigación y analisis</li>
              <li>Gestión Integral del proyecto</li>
              <li>Implementación con tecnologias como NodeJs, typeScript, Angular, etc.</li>
              <li>Diseño responsivo multiplataforma</li>
              <li>Trabajo Remoto.</li>
              <li>Trabajo dias hábiles.</li>
              <li>Soporte continuo</li>
            </ul>
          </div>

        </div>
        <div class="button-pricing">
          <button>QUIERO ESTE PAQUETE</button>
        </div>
      </div>

    </div>


  </div>

</div>
