<div class="content">

  <div class="content-portfolio">
    <shared-tittle-menu [contentParagraph]="tittle[0]"></shared-tittle-menu>

    <div class="tittle">
      <h1>Aplicaciones <span>Web</span>
      </h1>
    </div>

    <div class="projects">
        <user-project></user-project>
        <user-project></user-project>
        <user-project></user-project>
        <user-project></user-project>
        <user-project></user-project>
    </div>

    <div class="tittle">
      <h1>Diseños <span>Illustrator</span>
      </h1>
    </div>

    <div class="projects">
      <user-project></user-project>
      <user-project></user-project>
      <user-project></user-project>
      <user-project></user-project>
      <user-project></user-project>
    </div>
  </div>
</div>
