<div class="content">

  <div class="content-logo-profesion">
    <img src="assets/img/logo.webp" alt="" width="150" height="30">
    <p>Ingeniería de sistemas</p>
  </div>

  <div class="photo">
    <img src="assets/img/photo.webp" width="220px">
  </div>
  <div class="email-address">
    <p>{{'adelgado@funprg.edu.pe'}}</p>
    <p>Monterrico 3, Chiclayo
      Lambayeque - PE
    </p>
    <span>
      {{'@2024 Arlinton. Derechos reservados'}}
    </span>
  </div>
  <div class="social">
    <!-- component -->
    <shared-social></shared-social>
  </div>

  <shared-button  [contentIcon]="contentIcon[0]"></shared-button>



</div>
