<div class="content">

  <div class="content-logo-profesion">
    <img src="assets/img/logo.webp " alt="" width="150" height="30">
    <p><span>Web Developer</span>
      <span>Developer Oracle OIC</span>
    </p>
  </div>

  <div class="photo">
    <img src="assets/img/photo.webp" width="220px">
  </div>
  <div class="email-address">
    <p>{{'adelgadof@unprg.edu.pe'}}</p>
    <p>Monterrico, Chiclayo, Lambayeque-PE
    </p>
    <span>
      {{'@2024 Arlinton. Derechos reservados'}}
    </span>
  </div>
  <div class="social">
    <!-- component -->
    <shared-social></shared-social>
  </div>

  <shared-button  [contentIcon]="contentIcon[0]"></shared-button>



</div>
