
<div class="content-sidebar-major">

  <div class="content-body" >
    <div class="content-tittle-button">
      <h3>Menú</h3>
      <button (click)="clouseMenu()" >X</button>
    </div>
   <ul>
    <li routerLink="user/home" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-house"></i>
      </div>
      <span>Inicio</span>
    </li>
    <li routerLink="user/history" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-user"></i>
      </div>
      <span>A cercade mí</span>
    </li>
    <li routerLink="user/formation" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-graduation-cap"></i>
      </div>
      <span>Educación</span>
    </li>
    <li routerLink="user/portfolio" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-diagram-project"></i>
      </div>
      <span>Portafolio</span>
    </li>
    <li routerLink="user/services" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-laptop-file"></i>
      </div>
      <span>Servicios</span>
    </li>
    <li routerLink="user/contact" routerLinkActive="active" (click)="clouseMenu()">
      <div class="icon">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <span>Contacto</span>
    </li>
  </ul>

  <div class="social">
    <h3>Redes Sociales</h3>
    <div class="redes">
     <a href="https://wa.link/o0trjd"  target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
     <a href="https://www.instagram.com/arlintonar/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
     <a href="https://www.facebook.com/arlinton.delgadoflores" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
  </div>

</div>
