.content-brands{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 1rem;

}
.brand{
  width: 30%;
}
img{
  margin: 0;
  cursor: pointer;
  object-fit: contain;/* No distorciona la imagen */
  width: 100%;
}
/* 565656 */
img:hover{

}



@media screen and (min-width: 768px ) {
.brand{
  width: 20%;
}
}
