
.overlay{

  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #565656;
    opacity: 0.5;

}

.content-global{

  display: flex;
  padding: 1rem;
}
.content-sidebar, .content-profile{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

}
.content-sidebar{

  right:  3rem;
}

.content-profile{

  left: 1rem;
}
.content{

  margin-left: 23.5rem;
  color: white;
}


.content-button-sidebar-major{
  position: fixed;
  top: 8%;
  transform: translateY(-8%);


  right: 3.2rem;
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {

  .content-global{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .content-sidebar, .content-profile {
    position: static;
    transform: none;
  }

  .content-sidebar {
    display: none;
  }

  .content-profile {
    order: 0;
  }

  .content {
    margin-left: 1rem;

  }
}
