
.content-global{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}
.overlay{

  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #565656;
    opacity: 0.5;

}

.content-body{
  display: flex;

}
.limit-left{
  width: 30%;

}
.content-body-page{

  width: 60%;
  color: white;
}
.limit-rigth{
  width: 10%;
}


.content-sidebar, .content-profile{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);


}
.content-sidebar{

  right:  3rem;
}

.content-profile{

  left: 1rem;
}


.content-button-sidebar-major{
  position: fixed;
  top: 8%;
  transform: translateY(-8%);

  margin: 0;
  right: 3.2rem;
}

/* Estilos para pantallas medianas aquí */
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .content-body{
    flex-direction: column;
    align-items: center;
  }
  .content-body-page{

  }
  .limit-left{
    width: 0%;
    height: 0%;
  }
  .content-body-page{

    width: 100%;
    color: white;
  }
  .limit-rigth{
    width: 0%;
  }
  .content-profile {
    order: 0;

  }


  .content-profile{
    width: 100%;
    position: static;
    transform: none;
  }
  .content-sidebar {
    display: none;
  }
  /* .content-body-page{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  } */
}
/* max-width: 767px */
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px ) {

/*
  .content-body-page{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  } */
  .content-sidebar, .content-profile {
    position: static;
    transform: none;
  }
  /* .limit-left{
    width: 0;
    height: 0;
  } */
  .content-sidebar {
    display: none;
  }

  .content-profile {
    order: 0;
  }

 /*  .content-body-page {
    margin-left: 1%;

  } */
  .content-button-sidebar-major{
    top: 84%;

     right: 1rem;
  }


  .limit-left{
    width: 0%;
    height: 0%;
  }
  .content-body-page{

    width: 100%;
    color: white;
  }
  .limit-rigth{
    width: 0%;
  }
}
