

<div class="content">

  <div class="content-tittle-description">
    <shared-tittle-menu [contentParagraph]="tittle[0]"></shared-tittle-menu>

    <div class="tittle">
      <h1>Hola. Soy Arlinton,
        <span>Programador</span> Y
        Diseñador Web
      </h1>
    </div>

    <div class="description">
      <p>Diseño y programo cosas maravillosamente simples y amo lo que hago.
       <br> ¡Tan simple como eso!</p>
    </div>

  </div>

  <!-- <div class="content-images">
    <user-album></user-album>
  </div>
 -->
  <div class="content-experience-curriculum">
    <div class="experience-curriculum">
      <div class="curriculum">
        <button-donwload></button-donwload>
     </div>
      <div class="experience">
        <div class="years">
          <p>+4</p>
          <span>AÑOS DE EXPERIENCIA</span>
        </div>
        <div class="projects">
          <p>+20</p>
          <span>PROYECTOS COMPLETADOS</span>
        </div>
      </div>

    </div>
  </div>

  <div class="content-skills">
    <div class="skills">
      <div class="tittle-ability">
        <h1>Mis <span>Habilidades</span>
        </h1>
      </div>
      <user-skill></user-skill>
    </div>
  </div>


  <div class="content-skills">
    <div class="skills">
      <div class="tittle-ability">
        <h1>Experiencia <span>Profesional</span>
        </h1>
      </div>
      <div class="brands">
        <brands-enterprise></brands-enterprise>
      </div>
    </div>
  </div>

</div>


