<div class="content">


  <div class="content-certifications">
    <shared-tittle-menu [contentParagraph]="tittle[0]"></shared-tittle-menu>
    <div class="tittle">
      <h1>Mis <span>Certificaciones</span>
      </h1>
    </div>
    <div class="certifications">

      <user-certifications></user-certifications>
      <user-certifications></user-certifications>
      <user-certifications></user-certifications>
      <user-certifications></user-certifications>
    </div>

  </div>

  <div class="content-education-experience">
    <div class="tittle">
      <h1>Formación <span>Profesional</span>
      </h1>
    </div>
    <div class="content-step">
      <user-step></user-step>
      <user-step></user-step>
      <user-step></user-step>
    </div>
  </div>





</div>
