<div class="content">


  <div class="content-certifications">
    <shared-tittle-menu [contentParagraph]="tittle[0]"> </shared-tittle-menu>
    <div class="tittle">
      <h1>Mis <span>Certificaciones</span>
      </h1>
    </div>
    <div class="certifications">
      <app-loading *ngIf="loading"></app-loading>
      <div  class="certification" *ngFor="let certification of certifications" >
        <a  class="tittle-description" [href]="certification.url">
          <div  class="tittle-description">
            <p>{{certification.name}} </p>
            <div class="description">
              <p>{{certification.entity}}</p>
              <br>
              <div class="date">
                <span>{{certification.date |date:'yyyy,MM'}}</span> <br>
                <div class="credential">
                  <span>{{certification.credential}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
          <div class="icon">
            <a [href]="certification.url"><i class="fa-solid fa-diagram-project"></i></a>
          </div>

      </div>

    </div>

  </div>

  <div class="content-education-experience">
    <div class="tittle">
      <h1>Formación <span>Profesional</span>
      </h1>
    </div>
    <div class="content-step">
      <user-step  [institutionData]="institutions"></user-step>
    </div>
  </div>





</div>
