

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  box-sizing: border-box;
  margin: 0px;
  background-color: #1F1F1F;
  font-family: 'Montserrat',sans-serif;
}

::-webkit-scrollbar{
  background-color: #999999;

  inline-size: .2rem;
  block-size: .2rem;

}
::-webkit-scrollbar-thumb{
  background:#28E98C ;
}

