<div class="content">

  <div class="content-tittle-description">

    <shared-tittle-menu [contentParagraph]="tittle[0]"></shared-tittle-menu>

    <div class="tittle">
      <h1>Cada gran diseño comienza
        con una <span>historia</span> aún mejor
      </h1>
    </div>

    <div class="description">
      <p>Desde que culminé mi carrera de Ingeniería de Sistemas, me siento preparado para comenzar
        proyectos, he trabajado en Yanacocha, Epsel y he colaborado con personas talentosas
        para crear productos digitales en el ámbito empresarial como para el consumidor.
        <br>
        <br>
        Soy naturalmente curioso y estoy constantemente trabajando en mejorar mis habilidades,
        resolviendo problemas tecnológicos a la vez.</p>
    </div>
  </div>

  <div class="content-education-experience">

    <div class="tittle">
      <h1>Educación & <span>Experiencia</span>
      </h1>
    </div>
  </div>

  <div class="content-step">
    <user-step></user-step>
    <user-step></user-step>
    <user-step></user-step>
  </div>


</div>
