.content{
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.content-tittle-description{
  max-width: 42rem;


  padding:.5rem;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;

}

h1{
  font-size:48px ;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.tittle span {
  color: #28E98C;
  inline-size: auto;
}

.description{
  inline-size: auto;

}

.description p{

  color: #999999;
  font-size: 16px;
  padding: 0;
  margin: 0;

}
.content-step{
  position: relative;

  transition: left 0.5s ease-in-out;
}
